<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ts.judge.provider.dao.ddao.ConfigRulePackageVersionMapper">
    <resultMap id="resultMap" type="com.ts.judge.provider.dao.ddao.ConfigRulePackageVersionDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rule_package_id" property="rulePackageId" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getConfigRulePackageVersionById" resultMap="resultMap">
        select * from config_rule_package_version where id = #{id}
    </select>

    <insert id="insert" parameterType="ConfigRulePackageVersionDO" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into config_rule_package_version(rule_package_id, version, gmt_created, gmt_modified)
        values (#{rulePackageId}, #{version}, #{gmtCreated}, #{gmtModified})
    </insert>

    <update id="update" parameterType="ConfigRulePackageVersionDO">
        update config_rule_package_version
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="gmtModified!=null">
                gmt_modified=#{gmtModified},
            </if>
            <if test="operatorId!=null">
                operator_id=#{operatorId},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryByPackageId" parameterType="ConfigRulePackageVersionDO" resultMap="resultMap">
        select *
        from config_rule_package_version
        where rule_package_id=#{rulePackageId}
    </select>

</mapper>