<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ps.judge.dao.mapper.ConfigRuleMapper">
    <resultMap id="resultMap" type="com.ps.judge.dao.entity.ConfigRuleDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
        <result column="rule_package_version_id" property="rulePackageVersionId" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="salience" property="salience" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="result" property="result" jdbcType="VARCHAR" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="listConfigRule" resultMap="resultMap">
        select * from config_rule where rule_package_version_id = #{rulePackageVersionId}
    </select>

</mapper>