<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ps.judge.dao.mapper.ConfigRuleMapper">
    <resultMap id="resultMap" type="com.ps.judge.dao.entity.ConfigRuleDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR" />
        <result column="rule_package_version_id" property="rulePackageVersionId" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="salience" property="salience" jdbcType="INTEGER" />
        <result column="condition_relation" property="conditionRelation" jdbcType="TINYINT" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="result" property="result" jdbcType="VARCHAR" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="listConfigRule" resultMap="resultMap">
        select * from config_rule where rule_package_version_id = #{rulePackageVersionId}
    </select>

    <insert id="insert" parameterType="ConfigRuleDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into config_rule(name, code, salience, score,result,tenant_code,rule_package_version_id,gmt_created, gmt_modified)
        values (#{name}, #{code}, #{salience}, #{score},#{result},#{tenantCode},#{rulePackageVersionId},#{gmtCreated}, #{gmtModified})
    </insert>

    <select id="query" parameterType="ConfigRuleDO" resultMap="resultMap">
        select *
        from config_rule
        <where>
            <if test="name!=null">
                and name=#{name}
            </if>
            <if test="rulePackageVersionId!=null">
                and rule_package_version_id=#{rulePackageVersionId}
            </if>
        </where>
    </select>

    <update id="update" parameterType="ConfigRuleDO">
        update config_rule
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="code!=null">
                code=#{code},
            </if>
            <if test="salience!=null">
                salience=#{salience},
            </if>
            <if test="score!=null">
                score=#{score},
            </if>
            <if test="result!=null">
                result=#{result},
            </if>
            <if test="gmtModified!=null">
                gmt_modified=#{gmtModified},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>