<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ps.judge.dao.mapper.RiskMapper" >
  <resultMap id="resultMap" type="com.ps.judge.dao.entity.RiskDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="flow" property="flow" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="device_finger_print" property="deviceFingerPrint" jdbcType="VARCHAR" />
    <result column="transaction_time" property="transactionTime" jdbcType="TIMESTAMP" />
    <result column="audit_score" property="auditScore" jdbcType="SMALLINT" />
    <result column="audit_code" property="auditCode" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <result column="callback_count" property="callbackCount" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="column" >
    id, tenant_id, product_id, apply_id, flow, user_id, user_name, mobile, id_card, order_id, ip,
    device_finger_print, transaction_time, audit_score, audit_code, audit_status, callback_url,
    callback_count, create_time, update_time
  </sql>

  <select id="getRiskByTenantIdAndApplyId" resultMap="resultMap"  >
    select <include refid="column" /> from risk where tenant_id = #{tenantId,jdbcType=VARCHAR}
    and apply_id = #{applyId,jdbcType=VARCHAR};
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into risk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="flow != null" >
        flow,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="deviceFingerPrint != null" >
        device_finger_print,
      </if>
      <if test="transactionTime != null" >
        transaction_time,
      </if>
      <if test="auditScore != null" >
        audit_score,
      </if>
      <if test="auditCode != null" >
        audit_code,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="callbackUrl != null" >
        callback_url,
      </if>
      <if test="callbackCount != null" >
        callback_count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="flow != null" >
        #{flow,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="deviceFingerPrint != null" >
        #{deviceFingerPrint,jdbcType=VARCHAR},
      </if>
      <if test="transactionTime != null" >
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditScore != null" >
        #{auditScore,jdbcType=VARCHAR},
      </if>
      <if test="auditCode != null" >
        #{auditCode,jdbcType=SMALLINT},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="callbackUrl != null" >
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="callbackCount != null" >
        #{callbackCount,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>